
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-FpM {
  overflow: hidden;
  background-color: #eeeeee;
  width: 100%;
  height: 102.4rem;
  position: relative;

  .rectangle-2-CND {
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #64ccc5;
    width: 64.2rem;
    height: 102.4rem;
    position: absolute;
    left: 0;
    top: 0;
  }
  .group-1-689 {
    background-color: #f8f8f8;
    border-radius: 2rem;
    width: 45.3rem;
    height: 56.8rem;
    position: absolute;
    left: 9.5rem;
    top: 29.2rem;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);

    .auto-group-p8tp-YVw {
      width: 35.3535rem;
      height: 4.9rem;
      top: 26.8rem;
      background-color: #ededed;
      padding: 0rem 0.027rem 0rem 30.227rem;
      position: absolute;
      left: 4.9733rem;
      border-radius: 1rem;
      box-sizing: border-box;

      .group-3-Xcm {
        width: 100%;
        height: 100%;
        background-color: #176b87;
        border-radius: 0.7rem;
        box-sizing: border-box;
        padding: 1rem 1.1rem 0.9rem 1rem;

        .lock-wgV {
          object-fit: contain;
          vertical-align: top;
          width: 3rem;
          height: 3rem;
        }
      }
    }
    .auto-group-esqt-Wd7 {
      height: 4.9rem;
      position: absolute;
      left: 4.9733rem;
      top: 15.6rem;
      background-color: #ededed;
      padding: 0rem 0.027rem 0rem 30.227rem;
      width: 35.3535rem;
      box-sizing: border-box;
      border-radius: 1rem;

      .group-2-9vy {
        box-sizing: border-box;
        padding: 1rem 1.1rem 0.9rem 1rem;
        width: 100%;
        height: 100%;
        background-color: #176b87;
        border-radius: 0.7rem;

        .letter-r4h {
          width: 3rem;
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .password-hb7 {
      top: 24.3rem;
      font-size: 1.6rem;
      font-weight: 400;
      font-family: Inria Sans, 'Source Sans Pro';
      width: 6.6rem;
      height: 2rem;
      line-height: 1.1975;
      color: #000000;
      white-space: nowrap;
      position: absolute;
      left: 5.4rem;
    }
    .forgot-password-gT3 {
      width: 9.2rem;
      height: 1.5rem;
      left: 30.8rem;
      line-height: 1.1975;
      font-family: Inria Sans, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      top: 32.5rem;
      font-size: 1.2rem;
      font-weight: 400;
      text-decoration-line: underline;
      color: #000000;
    }
    .username-tZ7 {
      width: 7.1rem;
      position: absolute;
      left: 5.4rem;
      font-size: 1.6rem;
      font-weight: 400;
      white-space: nowrap;
      height: 2rem;
      top: 13rem;
      line-height: 1.1975;
      color: #000000;
      font-family: Inria Sans, 'Source Sans Pro';
    }
    .button-signup-WaV {
      color: #053b50;
      box-sizing: border-box;
      height: 4.9rem;
      left: 4.9733rem;
      top: 47.7rem;
      font-weight: 400;
      font-family: Fredoka One, 'Source Sans Pro';
      display: flex;
      border: solid 0.1rem #053b50;
      background-color: #ffffff;
      position: absolute;
      line-height: 1.2575;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      border-radius: 0.7rem;
      width: 35.3535rem;
      font-size: 1.6rem;
    }
    .button-login-r25 {
      position: absolute;
      font-family: Fredoka One, 'Source Sans Pro';
      align-items: center;
      width: 35.3535rem;
      line-height: 1.2575;
      color: #ffffff;
      display: flex;
      left: 4.757rem;
      top: 37.2rem;
      font-size: 1.6rem;
      font-weight: 400;
      white-space: nowrap;
      height: 4.9rem;
      justify-content: center;
      background-color: #053b50;
      border-radius: 0.7rem;
    }
    .login-Fa1 {
      color: #053b50;
      width: 9.3rem;
      height: 5.1rem;
      left: 16.8659rem;
      top: 2.8rem;
      font-weight: 400;
      line-height: 1.2575;
      position: absolute;
      font-size: 4rem;
      font-family: Fredoka One, 'Source Sans Pro';
      white-space: nowrap;
    }
    .auto-group-breh-K45 {
      height: 1.8rem;
      position: absolute;
      left: 5.5138rem;
      top: 44.2rem;
      display: flex;
      align-items: center;
      width: 34.5967rem;

      .line-1-nTT {
        background-color: #afafaf;
        flex-shrink: 0;
        margin: 0.3rem 3.46rem 0rem 0rem;
        width: 12.5413rem;
        height: 0.1rem;
      }
      .or-3eH {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 4.4544rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.1975;
        color: #afafaf;
        font-family: Inria Sans, 'Source Sans Pro';
      }
      .line-2-vTB {
        height: 0.1rem;
        background-color: #afafaf;
        flex-shrink: 0;
        margin-top: 0.3rem;
        width: 12.5413rem;
      }
    }
  }
  .logo-AsK {
    left: 17.3rem;
    top: 9.8rem;
    width: 22.8rem;
    height: 13.1rem;
    position: absolute;

    .your-license-Ftm {
      height: 8.1rem;
      top: 2.4rem;
      font-size: 3.2rem;
      line-height: 1.2575;
      color: #eeeeee;
      font-family: Fredoka One, 'Source Sans Pro';
      width: 10rem;
      position: absolute;
      left: 12.8rem;
      font-weight: 400;
    }
    .paypal-logo-KNq {
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 13.6rem;
      height: 13.1rem;
      position: absolute;
      left: 0;
    }
  }
}
