<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Desktop - 1</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inria+Sans%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredoka+One%3A400"/>
  <link rel="stylesheet" href="./styles/desktop-1.css"/>
</head>
<body>
<div class="desktop-1-FpM">
  <div class="rectangle-2-CND">
  </div>
  <div class="group-1-689">
    <div class="auto-group-p8tp-YVw">
      <div class="group-3-Xcm">
        <img class="lock-wgV" src="./assets/lock.png"/>
      </div>
    </div>
    <div class="auto-group-esqt-Wd7">
      <div class="group-2-9vy">
        <img class="letter-r4h" src="./assets/letter.png"/>
      </div>
    </div>
    <p class="password-hb7">Password</p>
    <p class="forgot-password-gT3">Forgot Password?</p>
    <p class="username-tZ7">Username</p>
    <div class="button-signup-WaV">Signup Now</div>
    <div class="button-login-r25">Login Now</div>
    <p class="login-Fa1">Login</p>
    <div class="auto-group-breh-K45">
      <div class="line-1-nTT">
      </div>
      <p class="or-3eH">Or</p>
      <div class="line-2-vTB">
      </div>
    </div>
  </div>
  <div class="logo-AsK">
    <p class="your-license-Ftm">
    Your
    <br/>
    License
    </p>
    <img class="paypal-logo-KNq" src="./assets/paypal-logo.png"/>
  </div>
</div>
</body>