/* 상단 바 스타일 */
.top-bar {
    background-color: #333;
    color: #fff;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

/* 오른쪽 목차 정보 스타일 */
.top-bar .sidebar-item {
    float: right; /* 오른쪽에 배치합니다. */
    margin-right: 20px; /* 오른쪽 여백을 추가합니다. */
}

/* 좌측 목차 스타일 */
.sidebar {
    background-color: #eee;
    color: #333;
    width: 30%;
    position: fixed;
    top: 10vh;
    left: 0;
    bottom: 0; /* 아래까지 닿도록 설정 */
    overflow: scroll;
}

/* 우측 컨텐츠 스타일 */
.content {
    margin-left: 30%; /* 좌측 목차 너비만큼 마진 추가 */
    margin-top: 10vh; /* 상단 바 높이만큼 마진 추가 */
    padding: 20px;
}

/* 각 목차 항목 스타일 */
.sidebar-item {
    margin: 10px;
}

/* 각 목차 항목 호버 스타일 */
.sidebar-item:hover {
    cursor: pointer;
    background-color: #ccc;
}

/* 하위 목차 스타일 */
.sub-sidebar {
    margin-left: 20px; /* 들여쓰기 */
}