
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 147.2rem;
}.item-1-HE1 {
  width: 100%;
  height: 101.3rem;
  position: relative;
  overflow: hidden;
  background-color: #eeeeee;
}
.item-1-HE1 .rectangle-2-DdT {
  width: 144.2rem;
  height: 102.4rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.item-1-HE1 .group-1-91K {
  box-sizing: border-box;
  padding: 2.6rem 4.8rem 7.1rem 4.3rem;
  width: 45.3rem;
  height: 56.8rem;
  position: absolute;
  left: 49.4rem;
  top: 22.8rem;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #f8f8f8;
  border-radius: 2rem;
}
.item-1-HE1 .group-1-91K .ninja-pt9 {
  margin-bottom: 0.9rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #053b50;
  font-family: Fredoka One, 'Source Sans Pro';
  white-space: nowrap;
}
.item-1-HE1 .group-1-91K .item--xDf {
  margin: 0rem 0rem 12.2rem 1.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #000000;
  font-family: Inria Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.item-1-HE1 .group-1-91K .auto-group-maad-2jK {
  margin: 0rem 3.8rem 13.5rem 1.1rem;
  width: calc(100% - 4.9rem);
  display: flex;
  align-items: center;
}
.item-1-HE1 .group-1-91K .auto-group-maad-2jK .item-1--x7B {
  margin: 0rem 12rem 0.1rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #000000;
  font-family: Inria Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-HE1 .group-1-91K .auto-group-maad-2jK .free-qRs {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #053b50;
  font-family: Fredoka One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-HE1 .group-1-91K .button-login-ZMs {
  margin-left: 0.7rem;
  width: 35.5rem;
  height: 8.3rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Fredoka One, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #053b50;
  border-radius: 0.7rem;
}
.item-1-HE1 .nav-bar-kx9 {
  width: 147.2rem;
  height: 7.95rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.4rem 4rem rgba(0, 0, 0, 0.1000000015);
  background-color: #ffffff;
}
.item-1-HE1 .frame-55-sG5 {
  box-sizing: border-box;
  padding: 1.4rem 4.6rem 1.8rem 2.5rem;
  width: 147.2rem;
  height: 8.3rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.item-1-HE1 .frame-55-sG5 .frame-56-BnZ {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.item-1-HE1 .frame-55-sG5 .frame-56-BnZ .ninja-LQZ {
  margin-right: 4.4rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #053b50;
  font-family: Fredoka One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-HE1 .frame-55-sG5 .frame-56-BnZ .item--fSq {
  margin: 0rem 5.7rem 0.3rem 0rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.7;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-HE1 .frame-55-sG5 .frame-56-BnZ .item--aZo {
  margin: 0rem 93rem 0.3rem 0rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.7;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-HE1 .frame-55-sG5 .frame-56-BnZ .vector-u6H {
  margin-bottom: 0.6rem;
  width: 3.1rem;
  height: 3.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-1-HE1 .frame-55-sG5 .frame-56-BnZ .auto-group-vopw-3TP {
  box-sizing: border-box;
  padding: 0.3rem 0rem 0.3rem 2.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-1-HE1 .frame-55-sG5 .frame-56-BnZ .auto-group-vopw-3TP .doorbell-B3o {
  margin: 0rem 2.5rem 0.6rem 0rem;
  width: 3.9rem;
  height: 3.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-1-HE1 .frame-55-sG5 .frame-56-BnZ .auto-group-vopw-3TP .item--gWM {
  margin-bottom: 0.7rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.7;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
