
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144.2rem;
}.item-3-vrd {
  box-sizing: border-box;
  padding: 14.4rem 46.4rem 14.4rem 46.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #eeeeee;
}
.item-3-vrd .ninja-FP7 {
  margin: 0rem 2.2rem 2.6rem 0rem;
  font-size: 5.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Fredoka One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-3-vrd .frame-61-kKs {
  width: 100%;
  height: 64.4rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #f8f8f8;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item-3-vrd .frame-61-kKs .item--gzD {
  width: 12rem;
  height: 3.6rem;
  position: absolute;
  left: 5rem;
  top: 4.6rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #000000;
  font-family: Inria Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.item-3-vrd .frame-61-kKs .item--yiR {
  width: 4.9rem;
  height: 2.4rem;
  position: absolute;
  left: 5.2rem;
  top: 25.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #000000;
  font-family: Inria Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.item-3-vrd .frame-61-kKs .item--HDK {
  width: 27.7rem;
  height: 4.8rem;
  position: absolute;
  left: 5rem;
  top: 15.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #000000;
  font-family: Inria Sans, 'Source Sans Pro';
}
.item-3-vrd .frame-61-kKs .item--6Rf {
  width: 3.1rem;
  height: 3rem;
  position: absolute;
  left: 23rem;
  top: 55.1rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #000000;
  font-family: Inria Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.item-3-vrd .frame-61-kKs .line-4-CUh {
  width: 39.8rem;
  height: 0.1rem;
  position: absolute;
  left: 5.1rem;
  top: 33.8rem;
  background-color: #000000;
}
.item-3-vrd .frame-61-kKs .item-8-2--wBP {
  width: 27.5rem;
  height: 2.4rem;
  position: absolute;
  left: 5.2rem;
  top: 30.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #a9a9a9;
  font-family: Inria Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.item-3-vrd .frame-61-kKs .item--zQZ {
  width: 8rem;
  height: 2.4rem;
  position: absolute;
  left: 5.3rem;
  top: 36.4rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #000000;
  font-family: Inria Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.item-3-vrd .frame-61-kKs .line-5-5wo {
  width: 39.8rem;
  height: 0.1rem;
  position: absolute;
  left: 5.2rem;
  top: 44.6rem;
  background-color: #000000;
}
.item-3-vrd .frame-61-kKs .item--RVs {
  width: 21.7rem;
  height: 2.4rem;
  position: absolute;
  left: 5.3rem;
  top: 41rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #a9a9a9;
  font-family: Inria Sans, 'Source Sans Pro';
  white-space: nowrap;
}
