
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.item-1-21w {
  box-sizing: border-box;
  padding: 11rem 51.2rem 11rem 51.1rem;
  width: 100%;
  height: 86.4rem;
  overflow: hidden;
  position: relative;
  background-color: #eeeeee;
}
.item-1-21w .group-24-w8u {
  box-sizing: border-box;
  padding: 4.4rem 4.1rem 17.4rem 5rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
  background-color: #f8f8f8;
  border-radius: 2rem;
}
.item-1-21w .group-24-w8u .ninja-3xd {
  margin: 0rem 3.7rem 12.6rem 0rem;
  font-size: 5.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Fredoka One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-21w .group-24-w8u .item--NED {
  margin: 0rem 10.8rem 2.6rem 0rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #000000;
  font-family: Inria Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-21w .group-24-w8u .auto-group-vlzx-rfB {
  margin-bottom: 2.7rem;
  box-sizing: border-box;
  padding: 1.3rem 13.7rem 1.3rem 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #413c49;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item-1-21w .group-24-w8u .auto-group-vlzx-rfB .letter-NtR {
  margin-right: 8.6rem;
  width: 5.1rem;
  height: 4.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-1-21w .group-24-w8u .auto-group-vlzx-rfB .item--iBb {
  margin-top: 0.4rem;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Fredoka One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-21w .group-24-w8u .auto-group-nfrh-PYd {
  box-sizing: border-box;
  padding: 1.3rem 12.15rem 1.3rem 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #f9e000;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item-1-21w .group-24-w8u .auto-group-nfrh-PYd .letter-WdF {
  margin-right: 7.05rem;
  width: 5.1rem;
  height: 4.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-1-21w .group-24-w8u .auto-group-nfrh-PYd .item--Faq {
  margin-top: 0.4rem;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Fredoka One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
